body{
    margin-top: 0px;
    height:100%;
    padding: 10%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom right, rgb(0, 128, 255), rgb(255, 255, 0));
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img {
  border-radius: 4px;
  display: block;
  padding: 5px;
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  width: 100%;
  max-width: 960px;
  margin: 20px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 2px 2px 4px #000000;
}
.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_button_containter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home_button{
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 14px 40px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 270px;
  
}
.home_button:hover{
  background-color: #ffffff;
  color: #000000;
}
.quiz-container{
  width: 80%;
  background: #ffffff;
  border-radius: 20px;
  text-align: left;

  box-shadow:2px 2px 4px #000000;
}
.question-number{
  text-align: right;
  font-size: larger;
  font-weight: bold;
  padding: 20px 20px 0;
  
}
.question-text{
  padding: 0 10% 0;
  text-align: large;
  font-weight: bold;
  font-size: x-large;
}
.choice-container{
  padding: 0 10% 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.choice{
  min-height: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  vertical-align: middle;
  font-weight: bold;
  text-indent: 1em;
  border: #000000;
  border-style: solid;
  border-radius: 5px;
  padding: 10 10 10;
  margin-bottom: 10px;
}
.choice:hover{
  cursor: pointer;
  background-color: yellow;
}
.quiz-buttons{
  background-color: blue;
  color: #ffffff;
  border: none;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
}

#footer {
  position:relative;
  text-align: center;
  border: #000000 10px;
  border-radius: 5px;
  bottom:0;
  width:100%;
  height:60px;  
  background:rgb(255, 255, 255);
}
