html {
    height: 100%;
}
body{
    margin-top: 0px;
    height: 100%;
    padding: 10%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom right, blue, yellow);
    background-repeat: no-repeat;
}
img {
  border-radius: 4px;
  display: block;
  padding: 5px;
  max-width: 180px;
  transform: rotate(-3deg);
  margin-left: auto;
  margin-right: auto;
}

h1 {
  width: 100%;
  max-width: 960px;
  margin: 0 auto 60px;
  transform: rotate(-3deg);
  color: white;
  text-align: center;
  font-size: 5rem;
  line-height: 5rem;
  text-shadow: black;
}


footer {
  width: 60%;
  max-width: 960px;
  margin: 0 auto;
  font-size: 1rem;
  color: #f29baa;
}
