body{
    margin-top: 0px;
    height:100%;
    padding: 10%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom right, rgb(0, 128, 255), rgb(255, 255, 0));
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img {
  border-radius: 4px;
  display: block;
  padding: 5px;
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 960px;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 4px #000000;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button_containter{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button{
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 14px 40px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 270px;
  position: relative;
}
.button:hover{
  background-color: #ffffff;
  color: #000000;
}
.quiz-container{
  width: 80%;
  background: #ffffff;
  border-radius: 20px;
  /* text-align: left; */
  display: flex;
  flex-direction: column;
  box-shadow:2px 2px 4px #000000;
}
.question-number{
  text-align: right;
  font-size: larger;
  font-weight: bold;
  padding: 20px 20px 0;
  
}
.question-header{
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  padding: 20px 20px 0;
}
.question_text{
  padding: 0 10% 0;
  text-align: left;
  font-weight: bold;
  font-size: x-large;
}
.results{
  padding: 0 10% 0;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
.input-label{
  padding: 5% 10% 0;
  /* text-align: left; */
  font-weight: bold;
  font-size: large;
}
.input-text{
  /* padding: 0 10% 0; */
  border: 5px solid gray;
  text-align: left;
  font-weight: bold;
  font-size: large;
  width: 70%;
}
.questioncount{
  padding: 0 10% 0%;
  /* border: 5px solid gray; */
  justify-content: center;
  /* width: 5px; */
  /* text-align: left; */
  font-weight: bold;
  font-size: x-large;
}
.checkbox-inline{
  position:relative;
  display:inline-block;
  padding-left:20px;
  margin-bottom:0;
  font-size: large;
  font-weight: bold;
  vertical-align:
  middle;
  cursor:pointer}

.choice-container{
  padding: 0 10% 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.choice{
  min-height: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  vertical-align: middle;
  font-weight: bold;
  text-indent: 1em;
  border: #000000;
  border-style: solid;
  border-radius: 5px;
  padding: 10 10 10;
  margin-bottom: 10px;
}
.choice:hover{
  cursor: pointer;
  background-color: yellow;
}
.correct{
  background-color: green;
}
.incorrect{
  background-color: red;
}
.explanation {

  margin-top: 20px;
  margin-bottom: 20px;

  justify-content: left;
  align-items: center;
  vertical-align: middle;
}
.quiz-buttons{
  /* display: flex; */
  background-color: blue;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  border: none;
  /* width: 100%; */
  height: 40px;
  /* border-bottom-left-radius: 20px; */
  /* border-bottom-right-radius: 20px; */
  padding: 10px;
}
.quiz-buttons:hover{
  cursor: pointer;
}

#footer {
  position:relative;
  text-align: center;
  border: #000000 10px;
  bottom:0;
  width:100%;
  height:60px;  
  ;
}
